{
  "dataSource": <%= data_source.to_json %>,

  "granularitySpec": {
    "type":"uniform",
    "intervals": <%= intervals.to_json %>,
    "gran":"hour"
  },

  "pathSpec": {
    "type": "static",
    "paths": <%= files.join(',').to_json %>,
    "filePattern": "*"
  }
}