{
  "service/druid-metrics": {
    "input": {
      "epoc": "2015-05-20T05:00:00+00:00",
      "timestamp": {
        "column": "timestamp",
        "format": "iso"
      },
      "gobblin": [
        "/hdfs/location1",
        "/hdfs/location2"
      ]
    },
    "output": {
      "segmentGranularity": "minute",
      "indexGranularity": "minute",
      "numShards": 1
    },
    "metrics": {
      "value": "doubleSum"
    },
    "dimensions": [
      "host",
      "metric",
      "service",
      "user1",
      "user2"
    ]
  }
}
